@model List<CompareRemedios.Dominio.Dtos.PrecoDto>
@using GridMvc.Html
<link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/gridmvc.min.js")"></script>

@{
    ViewBag.Title = "Aprovar Preço Remédio";
}

<h2>@ViewBag.Title</h2>

@Html.Grid(Model).Columns(columns =>
{
    /* Adding not mapped column, that renders body, using inline Razor html helper */
    columns.Add()
            .Encoded(false)
            .Sanitized(false)
            .SetWidth(30)
            .RenderValueAs(d =>
                @<b>
                    @Html.ActionLink("Aprovar", "Aprovar",new { Id = d.Id })
                </b>);

/* Adding "OrderID" column: */
            columns.Add(o => o.NomeFarmacia)
.Titled("Fármacia")
.SetWidth(100);

/* Adding "OrderID" column: */
            columns.Add(o => o.NomeRemedio)
.Titled("Remédio")
.SetWidth(100);
/* Adding "OrderID" column: */
            columns.Add(o => o.Preco)
.Titled("Preço(R$)")
.SetWidth(100);

        }
                                ).WithPaging(15).Sortable().Filterable().WithMultipleFilters()