
@{
    ViewBag.Title = "Compare Remédios";
}

@section styles{
    @Styles.Render("~/bundles/Styles/Inicio")
}
@section scripts {
    @Scripts.Render("/bundles/Scripts/Inicio")
}
<nav>
    <div class="row topo-m topo-inicio">
        <div class="col-sm-8 col-sm-offset-2">

            <div class="col-sm-4">
                <div class="thumbnail-box">
                    <a href="@Url.Action("Cadastrar", "Cliente")" class="thumbnail" tabindex="1">
                        <span> Pesquisar<br /> Produto</span>
                    </a>
                </div>
            </div>

            <div class="col-sm-4 xs-m-top">
                <div class="thumbnail-box">
                    <a href="@Url.Action("Criar", "Usuario")" class="thumbnail" tabindex="2">
                        <span>Pesquisar <br /> Farmárcia</span>
                    </a>
                </div>
            </div>

            <div class="col-sm-4 xs-m-top">
                <div class="thumbnail-box">
                    <a href="@Url.Action("Index", "Cliente")" class="thumbnail" tabindex="3">
                        <span>Solicitar Atualização<br /> Preço</span>
                    </a>
                </div>
            </div>

        </div>
    </div>
    @*<div class="row">
        <div class="col-sm-8 col-sm-offset-2">

            <div class="col-sm-4">
                <div class="thumbnail-box">
                    <a href="@Url.Action("Gerar", "Carne")" class="thumbnail" tabindex="4">
                        <span>Gerar<br /> Carnês</span>
                    </a>
                </div>
            </div>

            <div class="col-sm-4 xs-m-top">
                <div class="thumbnail-box">
                    <a href="@Url.Action("ImportarArquivoBancario", "Financeiro")" class="thumbnail" tabindex="5">
                        <span>Importar<br /> Retorno</span>
                    </a>
                </div>
            </div>

        </div>
    </div>*@
</nav>