@{
    Layout = null;
}

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container menu-jequiti">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @*<a href="@Url.Action("Index", "Inicio", new { Area = "Administrativo" })">
                    <img class="navbar-brand" src="@Url.Content("~/Images/logo_jequiti_claro.png")" />
                </a>*@
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">            

                <li menu-header">
                    <a href="javascript:void(0)" class="dropdown-toggle active" role="button" aria-haspopup="true"
                       aria-expanded="false" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-home"></span> Fármacias<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">

                        <li>
                            @Html.ActionLink("Pesquisar", "Pesquisar", "Farmacia")
                        </li>


                    </ul>
                </li>

                <li class="menu-header">
                    <a href="javascript:void(0)" class="dropdown-toggle active" role="button" aria-haspopup="true"
                       aria-expanded="false" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-inbox"></span> Produtos<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            @Html.ActionLink("Pesquisar", "Pesquisar", "Produto")
                        </li>

                        <li>
                            @Html.ActionLink("Solicitar Ajuste Preços", "SolicitarAjuste", "Preco")
                        </li>
                        

                    </ul>
                </li>
           
                <li class="menu-header">
                    <a href="javascript:void(0)" class="dropdown-toggle active" role="button" aria-haspopup="true"
                       aria-expanded="false" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-cog"></span> Configurações<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">

                        <li>
                            @Html.ActionLink("Fármacias", "Cadastrar", "Farmacia")
                        </li>
                        <li>
                            @Html.ActionLink("Remédios", "Cadastrar", "Produto")
                        </li>
                        <li>
                            @Html.ActionLink("Atualizar Preços", "AprovarAjuste","Preco")
                        </li>

                        <li>
                            @Html.ActionLink("Usuários", "Cadastrar", "Usuario")
                        </li>

                    </ul>
                </li>

            

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="menu-header">
                    <a href="javascript:void(0)" class="dropdown-toggle active" role="button" aria-haspopup="true"
                       aria-expanded="false" data-toggle="dropdown">
                        @User.Identity.Name.ToUpper()<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu text-right xs-text-left">
                        <li>
                            @Html.ActionLink("Sair", "Logoff", "Login", new { Area = "" }, htmlAttributes:
                                new { id = "logoffLink" })
                        </li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>
</div>