@model CompareRemedios.Dominio.Dtos.ProdutoDto
@{
    ViewBag.Title = "Cadastrar Produto";
}


<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Salvar", "Produto", FormMethod.Post, new { novalidate = "" }))
{



    <div class="row">
        <div class="form-group col-xs-12 col-md-6">
            <label class="control-label">Descrição *</label>
            @Html.EditorFor(model => model.Descricao, new { htmlAttributes = new { @class = "form-control", @maxlength = "100" } })
            @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "text-danger" })
        </div> <!-- Nome -->
    </div> <!-- Nome -->
    @*<div class="row">
        <div class="form-group col-xs-12 col-md-6">
            <label class="control-label">Fármacia</label>
            @Html.DropDownListFor(x => x.IdFarmacia, ViewBag.Farmacias as IEnumerable<SelectListItem>,
           new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.IdFarmacia, "", new { @class = "text-danger" })
        </div>
    </div>*@
    <div class="row">
        <div class="pull-right text-right col-md-2 col-xs-12 ">
            <button type="submit" class="btn btn-primary col-xs-12">
                <span class="glyphicon glyphicon-ok"></span>
                &nbsp;Salvar
            </button>
        </div> <!-- Botão de Ação-->
    </div>
}


